.vscode/**
.vscode-test/**
.github/**
coverage/**
src/**
src-ext/**
public/**
.gitignore
cra-readme.md
vsc-extension-language-quickstart.md
vsc-extension-quickstart.md
eslintrc.base.json
package-lock.json
tsconfig.base.json
tsconfig.json
