.vscode/**
.vscode-test/**
.github/**
coverage/**
src/**
src-ext/**
public/**
.gitignore
index.html
jest.config.js
vite-readme.md
vite.config.mts
vsc-extension-language-quickstart.md
vsc-extension-quickstart.md
eslintrc.base.json
package-lock.json
tsconfig.base.json
tsconfig.node.json
tsconfig.json
