.FileDialog-Root {
  position: absolute;
  top: 0;
  left: 0;
}

.FileDialog-Background {
  background: #000;
  opacity: 0.5;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FileDialog-Window-Cont {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.FileDialog-Window {
  min-width: 400px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  border: 1px solid green;

  color: var(--vscode-quickInput-foreground);
  background: var(--vscode-quickInput-background);

  border: 2px solid var(--vscode-quickInput-foreground);
}

.FileDialog-Window-Titlebar {
  display: flex;
  flex: 0 0 auto;
  height: 42px;
  border-bottom: 2px solid var(--vscode-quickInput-foreground);
  background: var(--vscode-inputOption-hoverBackground);
}

.FileDialog-Window-Titlebar-Heading {
  flex: 1 0 auto;
  text-align: center;
  font-size: 144%;
  font-weight: bold;
  align-self: center;
}

.FileDialog-Window-Titlebar-Button {
  border-left: 2px solid var(--vscode-quickInput-foreground);
  margin: 0;
}

.FileDialog-Window-Contents {
  overflow: auto;
  padding: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.FileDialog-ErrorInfoCont {
  margin: 24px auto;
  padding: 14px;
  background-color: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  text-align: center;
}

.FileDialog-ErrorInfoCont h3 {
  font-size: 150%;
  font-weight: normal;
}

.FileDialog-ActionButtons-Root {
  margin-top: 24px;
  display: flex;
  padding: 4px;
  align-items: stretch;
  justify-content: center;
  height: 56px;
}
