.LoadDialog-Root {
  position: absolute;
  top: 0;
  left: 0;
}

.LoadDialog-Background {
  background: #000;
  opacity: 0.5;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.LoadDialog-Window-Cont {
  position: absolute;
  z-index: 1000;
  top: 96px;
  left: 32px;
  width: calc(100vw - 64px);
  height: calc(100vh - 96px - 32px);
}

.LoadDialog-Window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid green;

  color: var(--vscode-quickInput-foreground);
  background: var(--vscode-quickInput-background);

  border: 2px solid var(--vscode-quickInput-foreground);
}

.LoadDialog-Window-Titlebar {
  display: flex;
  flex: 0 0 auto;
  height: 42px;
  border-bottom: 2px solid var(--vscode-quickInput-foreground);
  background: var(--vscode-inputOption-hoverBackground);
}

.LoadDialog-Window-Titlebar-Heading {
  flex: 1 0 auto;
  text-align: center;
  font-size: 144%;
  font-weight: bold;
  align-self: center;
}

.LoadDialog-Window-Titlebar-Button {
  border-left: 2px solid var(--vscode-quickInput-foreground);
  margin: 0;
}

.LoadDialog-Window-Contents {
  padding: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.LoadDialog-Dropzone {
  width: 50%;
  margin: 0 auto;
  padding: 20px 50px;
  text-align: center;
  user-select: none;
  background-color: rgba(64, 64, 64, 0.15);
  border: 2px dashed var(--vscode-tab-unfocusedInactiveModifiedBorder);
  flex: 0 0 auto;
}

.LoadDialog-Dropzone p {
  margin-top: 12px;
}

.LoadDialog-Dropzone-Hover {
  padding: 19px 49px;
  border-color: var(--vscode-inputValidation-infoBorder);
  border-width: 3px;
}

.LoadDialog-ErrorInfoCont {
  margin: 24px auto;
  width: 40%;
  padding: 14px;
  background-color: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  text-align: center;
}

.LoadDialog-ErrorInfoCont h3 {
  font-size: 150%;
  font-weight: normal;
}

.LoadDialog-CompileErrorInfoCont {
  margin: 0 auto;
  margin-top: 32px;
  width: 100%;
  padding: 14px;
  background-color: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  text-align: center;
}

.LoadDialog-CompileError-Source {
  min-height: 0;
  font-family: monospace;
  white-space: pre;
  line-height: 1.5;
  text-align: left;
  font-size: 116%;
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: auto;
  background-color: var(--vscode-keybindingLabel-background);
  border: 1px solid var(--vscode-keybindingLabel-border);
}

.LoadDialog-CompileError-Source-LineNumber {
  opacity: 0.35;
  user-select: none;
  display: inline-block;
  margin-right: 1em;
  width: 4em;
  text-align: right;
}

.LoadDialog-CompileError-Source-ErrorUnderline {
  text-decoration: wavy;
  text-decoration-line: underline;
  text-decoration-color: red;
}

.LoadDialog-CompileError-Source-ErrorBubble {
  user-select: none;
  margin-left: 20px;
  background-color: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  border-radius: 8px;
  padding: 4px;
}
