.Toolbar-root {
  display: flex;
  padding: 4px;
  align-items: center;
  height: 64px;
}

.Toolbar-Button {
  height: 42px;
}

.Toolbar-AnimationSpeedSelector {
  height: 56px;
}

.Toolbar-error {
  color: var(--vscode-editorError-foreground);
}

.Toolbar-Separator {
  width: 18px;
}

.Toolbar-MenuButton-Spacer {
  font-size: 30%;
}

.Toolbar-IconOnlyMenuButton {
  width: 40px;
}

.Toolbar-FetchExecuteLabel {
  margin: 0;
}

.Toolbar-ButtonLabelDim {
  opacity: 0.6;
}
