.ValueCellInput input {
  background-color: var(--vscode-editorWidget-background);
  color: var(--vscode-editorWidget-foreground);
  border: 1px solid var(--vscode-editorWidget-border);
  font-size: 140%;
  font-family: monospace;
  font-weight: bold;
  width: 80px;
  height: 32px;
  padding-right: 12px;
  text-align: right;
}

.ValueCellInput input:focus {
  outline-width: 0;
  background-color: var(--vscode-inputOption-activeBackground);
  color: var(--vscode-editorWidget-foreground);
}

.ValueCellInput-highlighted input {
  background-color: var(--vscode-editorWarning-foreground);
  border-color: var(--vscode-editorWarning-foreground);
  color: var(--vscode-inputValidation-warningBackground);
}
