.AnimationSpeedSelector-Root {
  display: flex;
  align-items: center;
  height: 40px;
}

.AnimationSpeedSelector-Label {
  color: var(--vscode-foreground);
  color: var(--vscode-foreground);
  user-select: none;
  margin: 0 4px;
}
