.Button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  margin-right: 4px;
  display: flex;
  align-items: center;
  border: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.Button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.Button:active {
  background-color: var(--vscode-button-background);
}

.Button.Button-disabled {
  background-color: var(--vscode-button-background);
  opacity: 0.75;
}

.Button-Label {
  display: flex;
  margin: 0 4px;
}

.Button.Button-disabled .Button-Label {
  opacity: 0.6;
}
