.App-Root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-Toolbar-Cont {
  flex: 0 0 auto;
  align-self: stretch;
}

.App-Main {
  flex: 1 1 auto;
  min-height: 0;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.App-CodeEditor {
  flex: 1 1 auto;
  min-width: 320px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.App-Computer-WindowFrame {
  margin-top: 4px;
  margin-bottom: 4px;
}

.App-Computer {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.App-HelpSidebar-Cont {
  flex: 1 2 auto;
  margin-left: 56px;
  display: flex;
}
