.Computer-Root {
  display: grid;
  grid-template-columns: minmax(auto, 244px) 10px minmax(auto, 448px) 10px minmax(
      auto,
      312px
    );
  grid-template-rows: 1fr 48px;
  grid-template-areas:
    "io       . cpu       . memory"
    "io-label . cpu-label . memory-label";
}

.Computer-Divider {
  width: 0px;
  justify-self: center;
  border-width: 0;
  border-right-width: 2px;
  border-color: var(--vscode-panelSection-border);
  border-style: dashed;
}

.Computer-Divider1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Computer-Divider2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Computer-Io {
  grid-area: io;
  min-height: 0;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content 1fr max-content 1fr;
}

.Computer-IoTitleRow {
  text-align: center;
  color: var(--vscode-notifications-foreground);
  font-weight: bold;
  font-size: 140%;
}

.Computer-Cpu {
  grid-area: cpu;
  min-height: 0;
}

.Computer-Memory {
  grid-area: memory;
  min-height: 0;
}

.Computer-Io-Label {
  grid-area: io-label;
}

.Computer-Cpu-Label {
  grid-area: cpu-label;
}

.Computer-Memory-Label {
  grid-area: memory-label;
}

.Computer-Label {
  color: var(--vscode-notifications-foreground);
  font-family: monospace;
  font-size: 132%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Computer-MainMemory {
  display: grid;
  justify-content: end;
  grid-template-columns: 144px 144px;
}

.Computer-MemorySegment {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr auto;
}

.Computer-MemoryAddress {
  color: var(--vscode-foreground);
  font-family: monospace;
  font-size: 132%;
  text-align: right;
  padding-right: 6px;
  align-self: center;
  line-height: 0;
}

.Computer-MemoryAddress-Active {
  font-weight: bold;
  color: var(--vscode-editorWarning-foreground);
}

.Computer-Cpu {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  align-items: center;
}

.Computer-CpuRegister-Root {
  width: 192px;
  padding: 20px;
  text-align: center;
}

.Computer-CpuRegister-Root header {
  font-family: monospace;
  font-size: 124%;
  color: var(--vscode-foreground);
  text-align: center;
  padding-bottom: 12px;
}

.Computer-CpuRegister-Box {
  display: inline-block;
  background: var(--vscode-notifications-background);
  border: 2px solid var(--vscode-notifications-border);
  border-radius: 10px;
  padding: 8px;
}
