.CpuStatus-Root {
  font-family: monospace;
  font-size: 124%;

  background: var(--vscode-notifications-background);
  color: var(--vscode-notifications-foreground);
  border: 2px solid var(--vscode-notifications-border);
  border-radius: 16px;
  padding: 8px;
  text-align: center;

  width: 256px;
}

.CpuStatus-Message {
  background-color: var(--vscode-notificationCenterHeader-background);
  padding: 2px 0;
  margin-top: 4px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CpuStatus-Fetching {
  color: var(--vscode-testing-iconQueued);
}

.CpuStatus-Executing {
  color: var(--vscode-testing-iconPassed);
}

.CpuStatus-Stop {
  color: var(--vscode-notificationLink-foreground);
}

.CpuStatus-NoInput {
  color: var(--vscode-testing-iconErrored);
}

.CpuStatus-InvalidInstruction {
  color: var(--vscode-testing-iconErrored);
}
