.CpuStatus-Root {
  font-family: monospace;
  font-size: 118%;

  color: var(--vscode-notifications-foreground);
}

.CpuStatus-Fetching {
  color: var(--vscode-testing-iconQueued);
}

.CpuStatus-Executing {
  color: var(--vscode-testing-iconPassed);
}

.CpuStatus-Stop {
  color: var(--vscode-notificationLink-foreground);
}

.CpuStatus-NoInput {
  color: var(--vscode-testing-iconErrored);
}

.CpuStatus-InvalidInstruction {
  color: var(--vscode-testing-iconErrored);
}
