.Input-Root {
  justify-self: center;
  margin: 8px;
  background: var(--vscode-notifications-background);
  border: 2px solid var(--vscode-notifications-border);
  color: var(--vscode-foreground);
  overflow-y: scroll;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: max-content;
}

.Input-Arrow {
  color: var(--vscode-editorWarning-foreground);
  margin: 4px;
}
