.Output-Root {
  justify-self: center;
  margin: 8px;
  background: var(--vscode-notifications-background);
  border: 2px solid var(--vscode-notifications-border);
  color: var(--vscode-foreground);
  overflow-y: scroll;
}
