.App-Root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-Toolbar-Cont {
  flex: 0 0 auto;
  align-self: stretch;
}

.App-Main {
  flex: 1 1 auto;
  min-height: 0;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.App-WindowFrame-Cont {
  margin-top: 4px;
  margin-bottom: 4px;
}

.App-HelpSidebar-Cont {
  flex: 1 2 auto;
  margin-left: 56px;
  display: flex;
}
